<h1>Deliverables</h1>
<div *ngIf="deliverables">
  <ul class="deliverables">
    <li *ngFor="let deliverable of visibleDeliverables">
      <h2><a [routerLink]="['/projects/', deliverable.projectSlug]">{{deliverable.name}}</a></h2>
      <p>{{ deliverable.assigned | date }} &ndash; {{ deliverable.due | date }}</p>
      <div *ngIf="deliverable.description" [innerHTML]="deliverable.description"></div>
      <div *ngIf="deliverable.instructions" [innerHTML]="deliverable.instructions"></div>
    </li>
  </ul>
</div>
