@import "../../../scss/variables";

:host {
	font-size: 0.8rem;
} 

ul {
	padding-left: 0.5rem;

	li {
    display: block;
    margin-bottom: 0;

		a {
			font-size: 0.8em;
		}
		
	}
}

.missing {
	color: lighten($swatch-body-text, 50%);
}

ul {
	padding-left: 0.5rem;

	li {
		display: inline-block;
		margin-right: 0.5em;

		a {
			font-size: 0.6rem;
		}
	}
}