$font-family-display : "Roboto Condensed", "Roboto", Arial, Helvetica, sans-serif;
$font-family-body : "Roboto", Arial, Helvetica, sans-serif;

$swatch-primary : #cc0000;
$swatch-code : #0099d6;
$swatch-body-text : #333;

$border-light : 1px solid #ddd;